*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --page-background-color: #e3e5e9;
    --logo-background-color: #212529;
    --logo-text-color: #dc2f02;
    --general-text-color: #161a1d;

}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

#content {
    height: 100%;
    width: 100%;
    display: flex;
}

#main-logo-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-color: var(--logo-background-color);
    background-image: url(./img/logo.png);
    background-repeat: no-repeat;
    background-position: center;

}

#main-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: var(--page-background-color);
    flex: 1 1 auto;
}

.about-us-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-image: url(./img/AboutUs/about-us1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
    background-color: var(--logo-background-color);
    color: var(--page-background-color);
    border: none;
    padding: 0.5em;
    margin: 1em;
    font-weight: 400;
    font-size: medium;
}


#nav-logo {
    background-position: center;
    width: 3.5em;
    height: 3.5em;
    margin-right: 1em;
}

h1 {
    font-size: 40px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
    line-height: 1.5em;
}

.page-footer,
header,
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--page-background-color);
    text-align: center;
    width: 100%;
    background-color: var(--logo-background-color);
}

.page-footer img {
    width: 40px;
}


/* CONTACT US CSS ----------------------- */

#iFrame {
    width: 50%;
    height: 50%;
}

iframe {
    width: 100%;
    height: 200%;
}

.tel-and-email-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tel-and-email-container label{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#contact-us-form {
    margin: 1em 0 1em;
    background-color: var(--logo-background-color);
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    border: 1px solid var(--logo-text-color);
    box-shadow: 2px 2px 7px 2px black;
}

#input-name{
    width: 100%;
}

#input-email{
    flex: 1 1 auto;
}

#input-tel{
    flex: 1 1 auto;
}

h4 {
    color: var(--page-background-color);
    margin: 0.5em 0 0.5em 0;
}

input,
label,
#text-box-div,
#submit-div {
    padding: 0.5em;
}

textarea {
    width: 100%;
}

#input-subject {
    width: 100%;
}

#input-submit {
    color: var(--logo-background-color);
    background-color: var(--page-background-color);
    border: none;
    border-radius: 2px;
    font-size: large;
    text-align: center;
}



/* MENU PAGE CSS ------------------------------- */

#menu-image {
    width: 50%;
    background-image: url(./img/Menu/main-menu-page.png);
    background-color: var(--logo-background-color);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#menu-article{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-icon-div{
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;
    height: 25%;
}


#menu-item-div {
    height: 75%;
    width: 125%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0.5em 0 0.5em;
    flex-wrap: wrap;
}











/* EFFECTS ---------------------------------- */

#input-submit:hover {
    color: var(--logo-text-color);
    cursor: pointer;
}

nav button:hover {
    color: var(--logo-text-color);
    cursor: pointer;
}

#menu-item-div div:hover{
    cursor: pointer;
    
}

.carousel {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-position: center;
    background-size: cover;
    background-image: url(./img/Menu/cooking-sushi1.jpg);
    background-repeat: no-repeat;
}

.fade {

    -webkit-animation: 1.5s fade;
    animation: 1.5s fade;

}

@-webkit-keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}