*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --page-background-color: #e3e5e9;
    --logo-background-color: #212529;
    --logo-text-color: #dc2f02;
    --general-text-color: #161a1d;

}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}

#content {
    height: 100%;
    width: 100%;
    display: flex;
}
#main-logo-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-color: var(--logo-background-color);

}

#main-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: var(--page-background-color);
    flex: 1 1 auto;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
    background-color: var(--page-background-color);
    border: none;
    padding: 0.5em;
    margin: 1em;
    font-weight: 400;
    font-size: medium;
}

h1{
    font-size: 40px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
    line-height: 1.5em;
}

.page-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--page-background-color);
    text-align: center;
    width: 100%;
    background-color: var(--logo-background-color);
}

.page-footer img{
    width: 40px;
}








/* EFFECTS ---------------------------------- */

nav button:hover{
    color: var(--logo-text-color);
    cursor: pointer;
}